#indice { background-
    color: White; 
    color: Gray;
    text-transform: uppercase;
    }

    #piedepagina {
        align-self: link;
        align-self: hover;
        background-color: black;
        font-style: normal;
    }